Repository beefchimi/dulmage, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🧪 Testing, 🛠️ Tooling

.github/labeler.yml:

🧰 Dependency:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

⚖️ Legal:
  - changed-files:
      - any-glob-to-any-file: 'LICENSE'

🧪 Testing:
  - changed-files:
      - any-glob-to-any-file: '**/*.test.ts'

🛠️ Tooling:
  - changed-files:
      - any-glob-to-any-file:
          [
            '.astro/**',
            '.github/**',
            '.vscode/**',
            '.editorconfig',
            '.gitignore',
            '.npmignore',
            '.nvmrc',
            '.prettierignore',
            '.prettierrc',
            'config/**',
            'astro.config.mjs',
            'eslint.config.mjs',
            'package.json',
            'tsconfig.json',
          ]

:recycle: [App] Shuffle some z-index values
  src/components/Contact.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/Toast.astro
  src/mock/ToastTest.astro
  src/sections/ProjectOverlay.astro
  src/styles/global.css
Labels: none

:fire: [App] Disable scroll snapping
  src/pages/404.astro
  src/pages/index.astro
  src/styles/global.css
Labels: none

:recycle: [Meta] Improve some meta tags
  astro.config.mjs
  src/layouts/Page.astro
Labels: 🛠️ Tooling

:art: [Contact] Switch to fixed position
  src/components/Contact.astro
Labels: none

:bug: [Page] Fix smooth scrolling in Safari
  src/styles/reset.css
Labels: none

:bug: [Page] Fix Toast centering on Safari
  src/layouts/Page.astro
Labels: none

:art: [Prettier] Format
  src/mock/ToastTest.astro
  src/pages/index.astro
Labels: none

🐛 [Astro] Various fixes since refactor (#55)
  astro.config.mjs
  src/components/Contact.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/Toast.astro
  src/layouts/Page.astro
  src/mock/ToastTest.astro
  src/pages/404.astro
  src/pages/index.astro
  src/sections/ProjectOverlay.astro
  src/styles/global.css
  src/styles/reset.css
Labels: 🛠️ Tooling

:bug: [Head] Try to fix open graph image
  src/layouts/Page.astro
  src/styles/global.css
Labels: none

:bug: [Head] Try to fix open graph image (#56)
  src/layouts/Page.astro
  src/styles/global.css
Labels: none

:bug: [PWA] Try to fix white border apple icon
  public/custom-pwa/apple-touch-icon-180x180.png
  src/layouts/Page.astro
Labels: none

:speech_balloon: [Astro] Add some config comments
  astro.config.mjs
Labels: 🛠️ Tooling

🐛 [PWA] Fix white border around apple icon (#58)
  astro.config.mjs
  public/custom-pwa/apple-touch-icon-180x180.png
  src/layouts/Page.astro
Labels: 🛠️ Tooling

:alembic: [PWA] Try to fix the 404 redirect
  astro.config.mjs
Labels: 🛠️ Tooling

:bento: [Projects] Revise some projects and add some new ones
  public/assets/bg-commerce-awards.png
  public/assets/bg-draggable.png
  public/assets/bg-earwurm.png
  public/assets/bg-partners-academy.png
  public/assets/bg-polaris-styleguide.png
  public/assets/bg-tetchi.png
  public/assets/bg-yat.png
  src/assets/svg/LogoDraggable.astro
  src/assets/svg/LogoEarwurm.astro
  src/assets/svg/LogoTetchi.astro
  src/assets/svg/LogoYat.astro
  src/components/Navigation.astro
  src/components/ProjectLogo.astro
  src/data/sections.ts
Labels: none

:lipstick: [Portfolio] Re-arrange some sections
  public/assets/bg-draggable.png
  public/assets/bg-earwurm.png
  public/assets/bg-tetchi.png
  src/assets/svg/LogoDraggable.astro
  src/data/sections.ts
Labels: none

:truck: [SVG] Organize all SVG assets
  src/assets/svg/icons/BrandDulmage.svg
  src/assets/svg/logos/LogoBodyMindChange.svg
  src/assets/svg/logos/LogoChicken.svg
  src/assets/svg/logos/LogoDraggable.svg
  src/assets/svg/logos/LogoEarwurm.svg
  src/assets/svg/logos/LogoFringe.svg
  src/assets/svg/logos/LogoNorthNavy.svg
  src/assets/svg/logos/LogoNorthernArmy.svg
  src/assets/svg/logos/LogoPreservationSociety.svg
  src/assets/svg/logos/LogoSandwichVideo.svg
  src/assets/svg/logos/LogoShopify.svg
  src/assets/svg/logos/LogoTetchi.svg
  src/assets/svg/logos/LogoYat.svg
  src/assets/svg/patterns/PatternStars.svg
Labels: none

:truck: [Assets] Rename a few project backgrounds
  public/assets/bg-na2012.png
  public/assets/bg-polaris.png
Labels: none

:toolbox: [Dependency] Install astro-icon
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:hammer_and_wrench: [Astro] Configure astro-icon
  astro.config.mjs
Labels: 🛠️ Tooling

:recycle: [Logos] Minor tweaks to Draggable and Preserve
  src/assets/svg/logos/LogoDraggable.svg
  src/assets/svg/logos/LogoPreservationSociety.svg
Labels: none

:recycle: [ProjectLogo] Start using astro-icon
  src/components/ProjectLogo.astro
Labels: none

:recycle: [Project] Update use of ProjectLogo
  src/components/Project.astro
Labels: none

:recycle: [404] Minor tweak
  src/pages/404.astro
Labels: none

:recycle: [Stars] Import raw SVG
  src/components/Stars.astro
Labels: none

:recycle: [Sections] Revise data
  src/data/sections.ts
Labels: none

:bento: [Projects] Replace most PNGs with WEBP
  public/assets/bg-body-mind-change.png
  public/assets/bg-body-mind-change.webp
  public/assets/bg-chicken.png
  public/assets/bg-chicken.webp
  public/assets/bg-commerce-awards.png
  public/assets/bg-commerce-awards.webp
  public/assets/bg-draggable.png
  public/assets/bg-draggable.webp
  public/assets/bg-earwurm.png
  public/assets/bg-earwurm.webp
  public/assets/bg-fringe.png
  public/assets/bg-fringe.webp
  public/assets/bg-na2012.png
  public/assets/bg-na2012.webp
  public/assets/bg-north-navy.png
  public/assets/bg-north-navy.webp
  public/assets/bg-northern-army.png
  public/assets/bg-northern-army.webp
  public/assets/bg-polaris.png
  public/assets/bg-polaris.webp
  public/assets/bg-preservation-society.png
  public/assets/bg-preservation-society.webp
  public/assets/bg-tetchi.png
  public/assets/bg-tetchi.webp
  public/assets/bg-yat.png
  public/assets/bg-yat.webp
  public/assets/intro-flowers.png
  public/assets/intro-flowers.webp
  src/data/sections.ts
Labels: none

:toolbox: [Dependency] Install outfit from fontsource
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:lipstick: [Styles] Setup outfit font
  src/styles/global.css
  src/styles/reset.css
Labels: none

:lipstick: [ProjectLogo] Resize some logos at short heights
  src/components/ProjectLogo.astro
Labels: none

:hammer_and_wrench: [Page] Properly import outfit from fontsource
  src/layouts/Page.astro
Labels: none

:recycle: [Font] Update some headings for the new font
  src/components/Contact.astro
  src/components/ContentBlock.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/sections/Intro.astro
Labels: none

:lipstick: [404] Minor tweaks
  src/components/Stars.astro
  src/pages/404.astro
Labels: none

:bento: [Assets] Replace PNG cursors with SVGs
  src/assets/img/README.md
  src/assets/img/cursor-auto.png
  src/assets/img/cursor-dead.png
  src/assets/img/cursor-pointer-clicked.png
  src/assets/img/cursor-pointer.png
  src/assets/img/cursor-rock-clicked.png
  src/assets/img/cursor-rock.png
  src/assets/img/cursor-text.png
  src/assets/svg/cursors/CursorAuto.svg
  src/assets/svg/cursors/CursorDead.svg
  src/assets/svg/cursors/CursorDeadClicked.svg
  src/assets/svg/cursors/CursorHorns.svg
  src/assets/svg/cursors/CursorHornsClicked.svg
  src/assets/svg/cursors/CursorPointer.svg
  src/assets/svg/cursors/CursorPointerClicked.svg
  src/assets/svg/cursors/CursorText.svg
  src/components/Navigation.astro
  src/components/ProjectLogo.astro
  src/sections/Intro.astro
  src/styles/global.css
Labels: none

:lipstick: [Earwurm] Revise image and color
  public/assets/bg-earwurm.webp
  src/data/sections.ts
Labels: none

:truck: [Assets] Move dulmage-social
  public/dulmage-social.png
  src/layouts/Page.astro
Labels: none

🍱 [Font] Use Outfit (#60)
  package-lock.json
  package.json
  public/assets/bg-earwurm.webp
  public/dulmage-social.png
  src/assets/img/README.md
  src/assets/img/cursor-auto.png
  src/assets/img/cursor-dead.png
  src/assets/img/cursor-pointer-clicked.png
  src/assets/img/cursor-pointer.png
  src/assets/img/cursor-rock-clicked.png
  src/assets/img/cursor-rock.png
  src/assets/img/cursor-text.png
  src/assets/svg/cursors/CursorAuto.svg
  src/assets/svg/cursors/CursorDead.svg
  src/assets/svg/cursors/CursorDeadClicked.svg
  src/assets/svg/cursors/CursorHorns.svg
  src/assets/svg/cursors/CursorHornsClicked.svg
  src/assets/svg/cursors/CursorPointer.svg
  src/assets/svg/cursors/CursorPointerClicked.svg
  src/assets/svg/cursors/CursorText.svg
  src/components/Contact.astro
  src/components/ContentBlock.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/ProjectLogo.astro
  src/components/Stars.astro
  src/data/sections.ts
  src/layouts/Page.astro
  src/pages/404.astro
  src/sections/Intro.astro
  src/styles/global.css
  src/styles/reset.css
Labels: 🧰 Dependency, 🛠️ Tooling

:recycle: [OpenGraph] Add some additional twitter tags
  src/layouts/Page.astro
Labels: none

:bug: [Cursors] Bring back preloading
  src/components/ContentBlock.astro
  src/sections/Intro.astro
  src/styles/global.css
Labels: none

:dizzy: [Page] Improve page loading
  src/layouts/Page.astro
  src/pages/404.astro
  src/pages/index.astro
  src/scripts/PageLoad.ts
  src/sections/Intro.astro
  src/styles/global.css
Labels: none
