Repository beefchimi/dulmage, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🧪 Testing, 🛠️ Tooling

.github/labeler.yml:

🧰 Dependency:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

⚖️ Legal:
  - changed-files:
      - any-glob-to-any-file: 'LICENSE'

🧪 Testing:
  - changed-files:
      - any-glob-to-any-file: '**/*.test.ts'

🛠️ Tooling:
  - changed-files:
      - any-glob-to-any-file:
          [
            '.astro/**',
            '.github/**',
            '.vscode/**',
            '.editorconfig',
            '.gitignore',
            '.npmignore',
            '.nvmrc',
            '.prettierignore',
            '.prettierrc',
            'config/**',
            'astro.config.mjs',
            'eslint.config.mjs',
            'package.json',
            'tsconfig.json',
          ]

:hammer_and_wrench: [PWA] Revise config
  astro.config.mjs
Labels: 🛠️ Tooling

💄 [PWA] Improve overall page loading and caching (#61)
  astro.config.mjs
  src/components/ContentBlock.astro
  src/layouts/Page.astro
  src/pages/404.astro
  src/pages/index.astro
  src/scripts/PageLoad.ts
  src/sections/Intro.astro
  src/styles/global.css
Labels: 🛠️ Tooling

:fire: [Brand] Remove unused asset
  src/assets/svg/icons/BrandDulmage.svg
Labels: none

:arrow_up: [Dependency] Patch bump
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:bug: [ProjectLogo] Fix specificity issue with mobile height query
  src/components/ProjectLogo.astro
Labels: none

:sparkles: [Page] Bring back scroll snapping but properly this time
  src/scripts/Portfolio.ts
  src/styles/global.css
Labels: none

✨ [Scrolling] Improve overall scroll experience (#62)
  package-lock.json
  package.json
  src/assets/svg/icons/BrandDulmage.svg
  src/components/ProjectLogo.astro
  src/scripts/Portfolio.ts
  src/styles/global.css
Labels: 🧰 Dependency, 🛠️ Tooling

:bug: [Navigation] Keep above intro content
  src/components/Navigation.astro
Labels: none

:bento: [Earwurm] Change asset
  public/assets/bg-earwurm.webp
  public/assets/bg-na2012.webp
  src/components/ProjectLogo.astro
  src/data/sections.ts
Labels: none

🍱 [Earwurm] Change image / remove NA2012 / fix minor bugs (#63)
  public/assets/bg-earwurm.webp
  public/assets/bg-na2012.webp
  src/components/Navigation.astro
  src/components/ProjectLogo.astro
  src/data/sections.ts
Labels: none

:adhesive_bandage: [PageLoad] Remove hash from url
  src/scripts/PageLoad.ts
Labels: none

:sparkles: [NavTracker] Improve current navigation highlight
  src/components/Navigation.astro
  src/layouts/Page.astro
  src/pages/index.astro
  src/scripts/NavTracker.ts
  src/scripts/Portfolio.ts
Labels: none

✨ [Navigation] Improve current highlight (#64)
  src/components/Navigation.astro
  src/layouts/Page.astro
  src/pages/index.astro
  src/scripts/NavTracker.ts
  src/scripts/PageLoad.ts
  src/scripts/Portfolio.ts
Labels: none

:lipstick: [Navigation] Replace float with grid layout
  src/components/Navigation.astro
Labels: none

:bug: [Mobile] Disable scroll snapping on mobile and listen for hashchange
  src/pages/index.astro
  src/scripts/Portfolio.ts
  src/styles/global.css
Labels: none

:fire: [Index] Remove redundant hashchange listener
  src/pages/index.astro
Labels: none

🐛 [Mobile] Ever so slightly improved scrolling (#65)
  src/components/Navigation.astro
  src/scripts/Portfolio.ts
  src/styles/global.css
Labels: none

:rewind: [Navigation] Fix exit animation
  src/components/Navigation.astro
Labels: none

:rewind: [Navigation] Fix exit animation (#66)
  src/components/Navigation.astro
Labels: none

:recycle: [Scripts] Mark some static props as readonly
  src/scripts/PageLoad.ts
  src/scripts/Portfolio.ts
  src/scripts/PwaServiceWorker.ts
  src/scripts/SecretEmail.ts
  src/scripts/ToastTracker.ts
Labels: none

:arrow_up: [Node] Bump version
  .nvmrc
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:bug: [Dependency] Update to fix broken astro check
  package-lock.json
  package.json
  src/env.d.ts
Labels: 🧰 Dependency, 🛠️ Tooling

♻️ [Scripts] Mark some static props as readonly (#67)
  .nvmrc
  package-lock.json
  package.json
  src/env.d.ts
  src/scripts/PageLoad.ts
  src/scripts/Portfolio.ts
  src/scripts/PwaServiceWorker.ts
  src/scripts/SecretEmail.ts
  src/scripts/ToastTracker.ts
Labels: 🧰 Dependency, 🛠️ Tooling
